@font-face {
  font-family: 'Inter';
  src: url(./Inter-Variable.woff2) format('woff');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'PressStart2P';
  src: url(./PressStart2P-Regular.woff) format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}