/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  position: relative;
  font-family: var(--main-font), sans-serif;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--card-text-font-weight);
}

.page::before {
  /*
Для ревьювера: почему использую ::before а не background-attachment: fixed; в основном селекторе (как например в проектной Сложно Сосредоточится) -
делал лендинг-страничку вне практикума и наткнулся на такую вещь что при использовании background-attachment: fixed; на iPhone почему то фон не фиксировался а скролился вместе с контентом,
хотя на Samsung или в отладчике на ПК на маленьком разрешении всё работало корректно. Погуглил и наткнулся что есть такой баг на iPhone
*/

  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background-image: var(--page-background-gradient);
  background-position: center;
  background-size: cover;
}

.container-width {
  margin-inline: auto;
  inline-size: var(--card-width);
}

.border {
  border: 2px solid var(--card-border-color);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-block-start: 100px;
  padding-inline: clamp(16px, 16px + 106.5 * ((100vw - 375px) / 325), 122.5px);
  padding-block: clamp(122px, 122px + 8 * ((100vw - 375px) / 325), 130px);
  background-color: var(--card-background-color);
}

.header__title {
  vertical-align: bottom;
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: clamp(49px, calc(30.538px + 4.923vw), 65px);
  text-transform: uppercase;
}

.header__subtitle {
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: clamp(14px, calc(3.615px + 2.769vw), 23px);
  text-align: center;
  text-transform: uppercase;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-block-start: 98px;
}

.card {
  background-color: var(--card-background-color);
}

.card__title {
  padding: 4px 10px;
  vertical-align: middle;
  font-size: 18px;
  font-variation-settings: "wght" var(--card-header-font-weight);
}

.card__image-container {
  position: relative;
  overflow: hidden;
  inline-size: 100%;
  border-top: 2px solid var(--card-border-color);
  border-bottom: 2px solid var(--card-border-color);
}

.card__label {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  text-transform: uppercase;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
}

@supports (
  (-webkit-text-stroke: 1px var(--contour-color-lable)) or
    (text-stroke: 1px var(--contour-color-lable))
) {
  .card__label {
    -webkit-text-stroke: 1px var(--contour-color-lable);
    text-stroke: 1px var(--contour-color-lable);
  }
}

.card__image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.filter-grayscale {
  filter: grayscale(1);
}
.filter-saturate {
  filter: saturate(1.7);
}
.filter-hue {
  filter: hue-rotate(35deg);
}
.filter-sepia {
  filter: sepia(0.8);
}
.filter-invert {
  filter: invert(0.1) contrast(1.2);
}
.filter-blur {
  filter: blur(1.5px);
}
.filter-multi {
  filter: contrast(1.2) brightness(1.05) saturate(1.3) hue-rotate(10deg);
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  font-size: 18px;
  line-height: 21px;
}

.button {
  position: relative;
  overflow: hidden;
  background-color: var(--button-background-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: var(--card-border-color);
  transition: transform 0.5s ease-in-out;
  /* transform: translate(-120%, -20%); 
  -- Вот если сделать так то получается визуально +- как в Фигме (даигональный переход, но по ТЗ просто горизонтальный по оси X */
  transform: translateX(-100%);
}

.button:hover::before {
  /* transform: translate(0, 0); -- Оставил на всякий случай что бы не забыть как пример в следующих проектах */
  transform: translateX(0);
}

.button:focus {
  outline: none;
}
.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--card-border-color);
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--button-text-color-hover);
  mix-blend-mode: difference;
}

.modal__button .button__text {
  text-transform: uppercase;
}

.card__like-container {
  display: flex;
  justify-content: flex-end;
  gap: 6px;
  padding: 0 25px 25px;
}

.card__icon-button {
  display: grid;
  place-items: center;
  border: 2px solid transparent;
  padding: 0;
  background-color: transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
  inline-size: 38px;
  block-size: 38px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--card-border-color);
}

.like-icon {
  transform-origin: center;
  inline-size: 100%;
  block-size: 100%;
}

.sparks {
  opacity: 0;
}

.like-icon .contour {
  transition: fill 0.1s linear;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.card__icon-button:hover .like-icon .core {
  fill: var(--contour-color);
  transition-delay: 0s;
}

.card__icon-button:hover .like-icon .main-body {
  fill: var(--contour-color);
  transition-delay: 0.05s;
}

.card__icon-button:hover .like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.card__icon-button:hover .like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.card__icon-button:active .like-icon .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.card__icon-button:active .like-icon .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition-delay: 0.06s;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.card__like-button {
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  inline-size: 130px;
  block-size: 38px;
}

.save__button-container {
  display: flex;
  justify-content: center;
  margin-block: 50px 100px;
}

.save__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0 20px;
  overflow: hidden;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  min-inline-size: 306px;
  block-size: 55px;
}

.save__button-icon {
  position: relative;
  z-index: 1;
  color: var(--button-text-color-hover);
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;
}

.modal {
  display: none;
  padding: 30px;
  background-color: var(--card-background-color);
  max-inline-size: 353px;
}

.modal::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.modal[open] {
  display: grid;
  gap: 30px;
}

.modal__content {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 20px;
}

.modal__icon {
  inline-size: 39px;
  block-size: 39px;
}

.modal__text {
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.modal__button {
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  inline-size: 100%;
  block-size: 38px;
}

@media (width <= 375px) {
  .cards {
    gap: 50px;
    margin-block-start: 100px;
  }

  .save__button {
    flex-direction: column;
    gap: 8px;
    block-size: 84px;
  }

  .save__button-icon {
    inline-size: 28px;
    block-size: 28px;
  }

  .modal {
    padding: 30px 40px;
    max-inline-size: 341px;
  }
}
